.footerContainer{
    display: flex;
    flex-direction: column;
    padding: 0.5rem 0 1rem;
}
.footerContainer>div{
    display: flex;
    flex-direction: column;
}

@media screen and (min-width: 700px) {
    .footerContainer{
        display: grid;
        grid-template-columns: 1fr 1fr;
        padding: 1rem 0 2rem;
    }
    
}